*{margin:0;padding:0;}
*{font-family: "SVN-Recoleta", 'Times New Roman';font-size: 17px;}
.Ex_maintenance_header{width:100%;height:auto;display:flex;padding-left: 3%;position: fixed;background-color: white;}
.Ex_maintenance_header h1{width:90%;}

.Ex_maintenance_header .Ex_maintenance_close{border:0;background-color: white;font-size: 20px;}
.Ex_maintenance_close span:hover{color: rgb(255, 200, 0);}
.Ex_maintenance_img{width:100%;height:auto;}
.Ex_maintenance_img img{width:100%;height:auto}

.Ex_maintenance_content{padding-bottom: 40px ;max-width: 70%;padding-left: 3%;}
.Ex_maintenance_content h2{font-size: 35px;}
 
  