* {
  margin: 0;
  padding: 0;
}
body {
  color: black;
  background-color: white;
  font-size: var(--vii-size-body);
  font-family: var(--vii-font-primary);
  line-height: 1.5;
  font-weight: 500;
}
.site-content {
  /* position: relative; */
  z-index: 20;
  background-color: white;
}
.banner {
  padding: 0;
  display: flex;
  justify-content: center;
}
.margin-bottom-60px {
  margin-bottom: 60px;
  margin-top: 80px;
}
.banner__inner {
  position: relative;
  border-radius: 20px;
  overflow: hidden;
  margin-bottom: 60px;
  width: 95%;
  display: flex;
  align-items: center;
}
.banner__bg {
  /* position: absolute; */
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.banner__wrapper {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px;
}
.banner__col__text {
  color: white;
}
.banner__wrapper {
  display: flex;
  justify-content: center;
  width: 90%;
}
.banner__col {
  width: 50%;
}
.banner__col > img {
  width: 100%;
  height: 100%;
}
.banner__col__text {
  padding-top: 30px;
  padding-bottom: 30px;
}
.banner__title {
  margin-bottom: 15px !important;
  position: relative;
  z-index: 2;
}
span > a {
  color: white;
}
span > a:hover {
  text-decoration: underline;
}
.breadcrumb-sep {
  padding: 0 10px;
  font-size: 20px;
}
.banner__description {
  margin-top: 25px;
}
.banner_description_item > p {
  font-weight: 600;
  letter-spacing: 0.5px;
}
.banner__description_item2 {
  margin-top: 40px;
}
.banner__description_item2 > p {
  font-weight: 600;
  letter-spacing: 0.5px;
}
.subheading {
  padding-top: 20px;
}
.breadcrumb-last {
  text-decoration: underline;
}
.Container {
  position: relative;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
}
.text1-container {
  padding-left: 0;
  padding-right: 0;
  display: flex;
  justify-content: center;
}
.text1-container > .text1__inner {
  box-sizing: border-box;
  padding-left: 15px;
  padding-right: 15px;
  width: 65%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.text1__wrapper {
  margin-bottom: 30px;
}
.text1-column > h1 {
  font-family: var(--vii-font-secondary);
  margin-bottom: 40px;
  font-size: 50px;
}
.text1-column > p {
  line-height: 1.5;
  font-weight: 500;
}
.image {
  padding-left: 30px;
  padding-right: 30px;
}
.image__inner {
  box-sizing: border-box;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
}
.image_scrollble_screenshot {
  background-color: #d3d3d3;
  overflow: hidden;
  padding: 80px 40px;
}
.screenshot__img {
  max-width: 1032px;
  margin: 0 auto;
  filter: drop-shadow(0 91px 107px rgba(0, 0, 0, 0.23))
    drop-shadow(0 20px 23px rgba(0, 0, 0, 0.137105))
    drop-shadow(0 6px 7px rgba(0, 0, 0, 0.0928953));
}
.screenshot__img > img {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  width: 100%;
}
.screenshot__img > .screenshot__img_bg {
  width: 100%;
}
.screenshot__img_bg > img {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  max-width: 100%;
  height: auto;
}
.screenshot__img_bg {
  aspect-ratio: 1032/596;
  overflow: auto;
}
.screenshot__img_bg::-webkit-scrollbar {
  width: 5px;
}
.screenshot__img_bg::-webkit-scrollbar-track {
  background: #ffffff;
}
.screenshot__img_bg::-webkit-scrollbar-thumb {
  background: #000000;
}
.about_Us {
  margin-left: -20px;
  margin-right: -20px;
  margin-top: 50px;
}
.aboutUs__inner {
  width: 100%;
  background-color: #d3d3d3;
  padding: 50px 50px 0px 50px;
}
.aboutUs_container {
  position: relative;
  width: 100%;
  max-width: calc(var(--vii-container) + var(--vii-gap-container) * 2);
  margin-right: auto;
  margin-left: auto;
  padding-right: var(--vii-gap-container);
  padding-left: var(--vii-gap-container);
}
.aboutUs_container_content {
  margin-right: 40%;
  line-height: 1.5;
  margin-top: 50px;
}
.aboutUs_container_content > h3 {
  margin-bottom: 30px;
  font-size: 50px;
}
.aboutUs_container_content > p {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.3px;
}
.aboutUs_container_img {
  margin-left: -50px;
  margin-right: -50px;
}
.aboutUs_container_img > img {
  width: 100%;
}
.single_img {
  display: flex;
  justify-content: center;
}
.single_img_inner {
  width: 98%;
  margin-top: 30px;
}
.single_img_wrapper > img {
  width: 100%;
}
.products {
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 100px;
  width: auto;
}
.product_wrapper {
  margin-bottom: 30px;

  margin-right: 40%;
}
.product_wrapper > h3 {
  margin-bottom: 30px;
  font-size: 50px;
}
.product_wrapper > p {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.3px;
}
.theOutcome {
  padding-left: 0;
  padding-right: 0;
  display: flex;
  justify-content: center;
}
.theOutcome > .theOutcome_inner {
  box-sizing: border-box;
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 40px;
  width: 65%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.theOutcome_wrapper {
  margin-bottom: 30px;
}
.theOutcome_wrapper > p {
  color: #de313e;
  text-transform: uppercase;
  letter-spacing: 0.15em;
  font-weight: 600;
}
.theOutcome_wrapper > ul {
  padding-left: 0;
}
.theOutcome_wrapper > ul > li {
  margin-bottom: 20px;
  line-height: 1.5;
  font-weight: 500;
  position: relative;
}
.theOutcome_wrapper > ul > li::before {
  content: "";
  position: absolute;
  top: 0.6em;
  left: -10px;
  width: 3px;
  height: 3px;
  /* background: #efc200; */
  border: 2px solid #efc200;
}
.related-project {
  display: flex;
  margin-left: 8%;
  margin-top: 40px;
  overflow-x: auto;
  overflow-y: hidden;
}

.title {
  font-family: SVN-Recoleta;
  font-size: 30px;
  margin-top: 10px;
  margin-bottom: 0;
  padding: 0;
}

.links a {
  font-family: "Basis Grotesque Pro";
  text-decoration: none;
  font-size: 16px;
  color: black;
}

.links {
  margin-top: 5px;
  padding: 0;
  margin-bottom: 70px;
}

.wrapper {
  width: 400px;
  padding-right: 40px;
}

.wrapper img {
  width: 400px;
  display: block;
  transition: all 0.5s ease-in-out;
}

.links a:hover {
  color: #f1c400;
  transition: all 0.3s ease-in-out;
}

.wrapper img:hover {
  transform: scale(1.1);
}

.zoom {
  display: block;
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
}

.button {
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
}
.button > a > button {
  background-color: #efc200 !important;
}
.footer-container {
  padding-bottom: 0;
  background-color: #f1edeb;
}

.content-footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 100px;
  padding-bottom: 100px;
  padding-left: 70px;
  padding-right: 70px;
  width: 100%;
}
.content-img {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
}
.content-detail {
  font-size: 20px;
  padding-left: 20px;
}
.content-nextpage > a {
  font-size: 70px;
  font-family: "Basis Grotesque Pro";
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.content-nextpage > a:hover {
  color: #e0303d;
}
.content-nextpage > a > i:hover {
  translate: 40px;
}
