.Viivue_web_footer{
    width:100%;
    height:auto
}
.Viivue_web_footer_first{
    width:100%;
    height: auto;
    background-color:antiquewhite;
    display:flex
}
#Viivue_web_footer_first_left{
    width:20%;
    height:auto;
    padding:50px
}
#Viivue_web_footer_first_left img{
    width:100%;
    height:auto
}
#Viivue_web_footer_first_center{
    width:30%;
    padding-top:60px
}
#Viivue_web_footer_first_center p{
    font-size:20px
}
#Viivue_web_footer_first_right{height:auto;
    padding-left:180px;
    padding-top:50px;
}
#Viivue_web_footer_first_right a{
    color:black;
    font-size:60px;
    text-align: right; 
    text-decoration:none; 
    box-shadow:0 1.5px red;
}
#Viivue_web_footer_first_right a:hover{color:red}
#Viivue_web_footer_first_right a i{transition: 0.6s;}
#Viivue_web_footer_first_right a:hover i{transform:translateX(10px);}

.Viivue_web_footer_second{height:auto;
    width:100%;
    display:flex
}
#Viivue_web_footer_second_left{height:auto;
    text-align: center;
    width:50%;
    padding-top:20px;
    border-right: 2px black solid
}
#Viivue_web_footer_second_left a{color:black;
    text-decoration:none;
    font-size:40px
}
#Viivue_web_footer_second_left a:hover{color:red}
#Viivue_web_footer_second_left a i{transition: 0.5s;}
#Viivue_web_footer_second_left a:hover i{transform: translateX(-5px);}

#Viivue_web_footer_second_right{
    padding-top:20px;
    height:auto;
    padding-left:200px
}
#Viivue_web_footer_second_right a{
    color:black;
    text-decoration:none;
    font-size:40px;
}
#Viivue_web_footer_second_right a i{transition: 0.6s;}
#Viivue_web_footer_second_right a:hover i{transform: translateX(5px);}
#Viivue_web_footer_second_right a:hover{color:red;
    text-decoration:none;
    width:100px;
}

.Viivue_web_footer_last{
    height:auto;
    background-color: black; 
    color:white;                                                            
    width:100%;
    padding-top:0px;
    padding-left:30px;
    padding-bottom:0px;
}

.Viivue_web_footer_last_1{
    height:auto;
    width:100%;
    border-bottom:3px grey solid;
    margin:0;
    display: flex;
    padding: 40px 0px;
}
#Viivue_web_footer_last_1_left{
    height:auto;
    width:52%;
}
#Viivue_web_footer_last_1_left a{
    background-color: black;
    text-decoration: none;
}
#Viivue_web_footer_img{
    width: 38%;
    height:auto;
}
#Viivue_web_footer_last_1_center .Viivue_web_footer_last_1_center_list{
    list-style-type: square;
    line-height: 36px;
    font-size:19px;
    color:yellow;
}
#Viivue_web_footer_last_1_center a{
    color:white;
    text-decoration: none;
    font-weight: bold;
}
#Viivue_web_footer_last_1_center .Viivue_web_footer_last_1_center_list li a:hover{color:yellow}
#Viivue_web_footer_last_1_center{
    height:auto;
    width:20%
}

#Viivue_web_footer_last_1_right{
    height:100%;
    width:auto;
    font-size:18px;
    padding-right: 0;
}
#Viivue_web_footer_last_1_right a{
    color:white;
    text-decoration:none;
}
#Viivue_web_footer_last_1_right .Viivue_web_footer_last_1_right_contact:hover{color:yellow}
.Viivue_web_footer_last_1_right_content{width:100%;height:auto;display: flex;}
.Viivue_web_footer_last_1_right_content_icon{height:auto; width: 10%}
.Viivue_web_footer_last_1_right_content_in4{ height: auto;}

.Viivue_web_footer_last_1_right_content .Viivue_web_footer_last_1_right_content_icon2{height:auto;width:18%;text-align: right}
.Viivue_web_footer_last_1_right_content .Viivue_web_footer_last_1_right_content_icon2 a{font-size:30px}
#Viivue_web_footer_last_1_right .Viivue_web_footer_last_1_right_content .Viivue_web_footer_last_1_right_content_icon2 a:hover{color:yellow;}

.Viivue_web_footer_last_2{
    height:auto;
    margin:0;
    padding-top:20px;
    padding-bottom: 20px;
    width: 100%;
    display: flex;
}
#Viivue_web_footer_last_2_left{
    width:70%;
    height:auto;
    font-size:18px
}

#Viivue_web_footer_last_2_center a{text-decoration: none;
     color:white;
     font-size:18px;
    }
#Viivue_web_footer_last_2_center a:hover{color:yellow}
#Viivue_web_footer_last_2_center{
    height:auto;
    width:15%
}

#Viivue_web_footer_last_2_right{
    width:auto;
    height:auto;
}
#Viivue_web_footer_last_2_right a{
    text-decoration: none;
    color:white;
    font-size:18px;
}
#Viivue_web_footer_last_2_right a:hover{color:yellow}

