@font-face {
  font-family: "Basis Grotesque Pro";
  src: url(../fonts/BasisGrotesquePro-Medium.woff2);
}

@font-face {
  font-family: "Basis Grotesque Pro MediumItalic";
  src: url(../fonts/BasisGrotesquePro-MediumItalic.woff2);
}

@font-face {
  font-family: "Basis Grotesque Pro Bold";
  src: url(../fonts/BasisGrotesquePro-Bold.woff2);
}

@font-face {
  font-family: "SVN-Recoleta";
  src: url(../fonts/SVN-Recoleta.woff);
}

@font-face {
  font-family: "icomoon";
  src: url(../fonts/icomoon.ttf);
}

* {
  font-family: "Basis Grotesque Pro", serif;
  margin: 0;
  padding: 0;
  font-size: 16px;
}

.Work-element1 {
  margin-top: 100px;
  text-align: center;
}

.linkhome:hover {
  color: black;
  text-decoration: underline;
}

.linkhome {
  text-decoration: none;
  color: black;
}

.latest-works {
  font-family: "SVN-Recoleta", serif;
  text-align: center;
  font-size: 13.5rem;
  padding: 0;
  margin-top: 10px;
  margin-bottom: 0px;
}

.paragraph-under-latest-works {
  display: flex;
  justify-content: center;
  margin-top: -25px;
  padding: 0;
}

.paragraph {
  display: block;
  text-align: center;
  width: 480px;
  height: 120px;
  font-size: 16px;
  margin-bottom: -60px;
}

.ngoai-anh1 {
  margin: auto;
  width: 80%;
  display: flex;
  justify-content: right;
  height: fit-content;
}

.work-anh1 {
  position: relative;
  bottom: 0;
}

.title {
  font-family: "SVN-Recoleta", serif;
  text-decoration: none;
  color: #141414;
  font-size: 30px;
  margin-bottom: 0;
  margin-top: 0;
}

.title:hover {
  text-decoration: none;
  color: #141414;
}

.links a {
  text-decoration: none;
  font-size: 16px;
  color: black;
}

.links {
  margin-top: 5px;
  padding: 0;
  margin-bottom: 30px;
}

.containerr {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: -40px;
}

.wrapperr {
  width: 40.7%;
  margin: 22.5px;
  display: none;
}

.wrapperr video,
.wrapperr img {
  width: 100%;
  border-radius: 10px;
  transition: all 0.5s ease-in-out;
  display: block;
  height: 530x;
}

.video-vero-asean {
  margin-top: -50px;
}

.zoom {
  display: block;
  overflow: hidden;
  border-radius: 10px;
  margin-bottom: 10px;
}

.wrapperr img:hover {
  transform: scale(1.1);
}

.wrapperr:nth-child(1) {
  width: 100%;
  margin-left: 7.8%;
  margin-right: 7.8%;
}

.wrapperr:nth-child(1) img {
  width: 100%;
}

.wrapperr:nth-child(1),
.wrapperr:nth-child(2),
.wrapperr:nth-child(3),
.wrapperr:nth-child(4),
.wrapperr:nth-child(5),
.wrapperr:nth-child(6),
.wrapperr:nth-child(7),
.wrapperr:nth-child(8),
.wrapperr:nth-child(9) {
  display: block;
}

.wrapperr:nth-child(8) {
  overflow: hidden;
  border-radius: 10px;
}

.btnn {
  border: none;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  background-color: white;
}

.btnn:hover {
  transform: scale(1.1);
}

.btnn img {
  width: 60px;
  height: 60px;
  /* background-image: url("../images/img-background-noisy-texture.png"); */
}

.btn-work-list {
  display: flex;
  justify-content: center;
}

a:hover {
  color: #f1c400;
  transition: all 0.3s ease-in-out;
}

#cc {
  color: #141414;
}

#cc:hover {
  color: #f1c400;
  transition: all 0.3s ease-in-out;
}

@media only screen and (max-width: 1024px) {
  .title {
    font-size: 24px;
  }
  * {
    font-size: 15px;
  }
  .paragraph {
    display: block;
    width: 480px;
    height: 112.5px;
    font-size: 15px;
    margin-bottom: 0;
  }
  .ngoai-anh1 {
    margin-top: 40px;
    width: 95%;
    margin-bottom: 25px;
  }
  .work-anh1 {
    width: 230px;
    height: 110px;
  }
  .wrapperr {
    width: 47%;
    padding: 0;
    margin-left: 1%;
    margin-right: 1%;
  }
  .wrapperr:nth-child(1) {
    width: 96%;
    margin: auto;
    padding-top: 3%;
  }
  .wrapperr:nth-child(8) {
    overflow: none;
    border-radius: 10px;
  }
  .video-vero-asean {
    margin: 0;
  }
  .links a {
    font-size: 15px;
  }
}

@media only screen and (max-width: 480px) {
  .wrapperr {
    width: 100%;
  }
  .wrapperr:nth-child(1) {
    margin-left: 5%;
    margin-right: 5%;
  }
  #id-vero-asean {
    height: 286px;
  }
  .paragraph-under-latest-works {
    width: 100%;
  }
  .wrapperr {
    width: 90%;
    padding: 0;
    margin: auto;
  }
}

html {
  ::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.3);
    background-color: #f5f5f5;
  }

  ::-webkit-scrollbar {
    width: 4px;
    background-color: #f5f5f5;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #000000;
    border: 2px solid #555555;
  }
}
