*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 50px 110px;
}
h3, a{
    color: #141414;
}
/* Vero Asean*/
video{
    width: 620px;
    height: 400px;  
    background-color: #000;  
    border-radius: 10px;   
}

h3{
    font-size:30px;
    font-family: Georgia, Cambria, "Times New Roman", Times, serif;
    font-weight: 500;
    line-height: 40px;
    padding-top: 10px
}
ul{
    display: flex;
    list-style-type: none;
}
.link li, link a{
    font-family:-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
    font-size: 16px;
    font-weight: 600;
}   
.link a{
    text-decoration: none;
    padding:0 6px 0 8px;  
}
.link a:hover{
    color: #f1c400;
    transition: all 0.3s ease;
}
/*RMIT Vietnam*/
.Rmit_vietnam .image{
    display: inline-block;
    overflow: hidden;
    border-radius: 10px;
    
}
.Rmit_vietnam img{
    width: 605px;
    height: 405px;
    border-radius: 10px;
    display: block;
    transition: all 0.2s  ease-in-out;
}
.Rmit_vietnam img:hover{
    transform: scale(1.02, 1.02);
}
